@charset "utf-8";
/* CSS Document */

/* PARA QUITAR LOS ESTILOS POR DEFECTO */
html, body, h1, h2, h3, h4, h5, h6, p, ol, ul, li, pre, code, address, variable, form, fieldset, blockquote  {
 padding: 0;
 margin: 0;
 font-size: 100%;
 font-weight: normal;
}
table { border-collapse: collapse; border-spacing: 0; }
td, th, caption { font-weight: normal; text-align: left; }
img, fieldset { border: 0; }
ol { padding-left: 1.4em; list-style: decimal; }
ul { padding-left: 1.4em; list-style:square; }
q:before, q:after { content:''; }



.contenedorTitulo{
	/*Se ajusta el contenedor al 100% del ancho de la pagina*/
	width:100%;
	/*Margen desde el nevagedor al contenedor de 20 px por arriba*/
	margin-top:20px;
	
	
}

.imagenSuperior{
	/*Margen automatico para que centre la imagen */
	margin:auto;
	/*La imagen ocupe todo el ancho de la pagina*/
	display:block;
	/* Redondeo de los bordes de 30 px*/
	border-radius:30px;
	/*Sombreado de color 333, con 10px de sombreado horzontal, 5 vertical y 5 de difuminado*/
	box-shadow:#333 10px 10px 5px;
}

.imagenConsejo{
	margin:auto;
	display:block;
	padding-top:40px;
}

.cabecera{
	
	/*background-color:#FFC;*/
	width:75%;
	margin:0 auto;
	margin-top:1%;
	/* Hace que el contendor que tiene este selector no tenga en cuenta
	el desbordamiento del contenedor*/
	overflow:hidden
}


#separacionIqz{
	border-radius:30px;
	float:left;	
}

#separacionIqz img{
	border-radius:30px;
}
#separacionDer{
	border-radius:30px;
	float:right;	
}

#separacionDer img{
	border-radius:30px;
}

.cabecera h1{

	font-size:1.4em;
	text-align:center;
	padding-top:30 px;
}

.cabecera h2{
	margin-top:45px;
	text-align:center;
	
}

section{
	background-image:url("../imagenes/marca_agua_uned.png");
	/*Hace que la imagen no se repita en el contenedor*/
	background-repeat:no-repeat;
	/*Se pociciona en el centro del contenedor*/
	background-position:center;
	/*ANchura del contenedor*/
	width:75%;
	/*altura del contenedor y en px ya que en % no salia*/
	height:500px;
	margin:0 auto;
	margin-top:5px;
	
	
}

.registro{
		font-size:24px;
        font-family:Verdana,Helvetica;
        font-weight:bold;
        color:#FFF;
        background: -webkit-linear-gradient(top, #666, #999);
        border:0px;
        width:250px;
        height:50px;
		text-shadow:#CCC 1px 1px 1px;
		border-radius:10px;
		box-shadow:#000 2px 2px 2px;
}



footer{
	width:75%;
	margin:0 auto;
	background:#039;
	text-align:center;
	
}
